
<h2>Hotel Chains:
  <%= link_to 'New Hotel Chain', new_hotel_chain_path, class: "btn btn-success" %>
</h2>


<table class="table" style="margin-top: 2.55%; text-align: center">
  <thead class="thead-dark">
    <tr>
      <th>Chain Name</th>
      <th>Address</th>
      <th>Number of Hotels</th>
      <th>Update</th>
      <th>Delete</th> 
    </tr>
  </thead>
  <tbody>
    <% @chains.each do |chain| %>
      <tr>
        <td><%= link_to chain["ChainName"], "/hotel_chains/#{chain["ChainID"]}", class: "btn btn-secondary", :style=>'width: 90%;' %></td>
        <td><%= chain["OfficeAddress"] %></td>
        <td><%= chain["NoOfHotels"] %></td>
        <td><%= link_to 'Update', edit_hotel_chain_path(chain["ChainID"]), class: "btn btn-outline-primary" %></td>
        <td><%= link_to "Delete", "/hotel_chains/#{chain["ChainID"]}", {method: :delete, data: {confirm: "Are you sure you want to delete this hotel chain?"}, class: "btn btn-outline-danger" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>