

<h2>Hotels:
  <%= link_to 'Add Hotel', new_hotel_path, style: "margin-top: 3px;", class: "btn btn-success" %>
</h2>


<table class="table" style="margin-top: 2.55%; text-align: center">
  <thead class="thead-dark">
    <tr>
      <th>Hotel ID</th>
      <th>Address</th>
      <th>City</th>
      <th>Contact Email</th>
      <th>Number of Rooms</th>
      <th>Star Rating</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @hotels.each do |hotel| %>
    <tr>

      <td><%= hotel["HotelID"] %></td>
      <td><%= hotel["HotelAddress"] %></td>
      <td><%= hotel["City"] %></td>
      <td><%= hotel["ContactEmail"] %></td>
      <td><%= hotel["NoOfRooms"] %></td>
      <td><%= hotel["Category"] %></td>
      <td><%= link_to 'Update', edit_hotel_path(hotel["HotelID"]), class: "btn btn-primary" %></td>
      <td><%= link_to "Delete", "/hotels/#{hotel["HotelID"]}", {method: :delete, data: {confirm: "Are you sure you want to delete this hotel?"}, class: "btn btn-danger" } %></td>
    </tr>
    <% end %>
  </tbody>
</table> 