<!DOCTYPE html>
<html>
  <head>
    <title>EHotel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <%= link_to "Filter", filter_path %>

    <% if user_signed_in? %>
      <div>
        <!-- this can be the users name -->
        <%= link_to "Sign Out", destroy_user_session_path, data: {method: :delete} %>
      </div>
      <% else %>
      <%= link_to "Sign In", new_user_session_path, :class=>"header-float-right" %>
      <% end %>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
