<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%#= form_tag("/rooms/#{params[:id]}", method: "put") %>

        <%= form_for(@custEmp_empty) do |f| %>
          <% if current_user.user_type == 'customer' %>
          <h4 class="card-title" style="color: #FF250D;">Update <%=@custEmp_empty["CFirstName"]%>:</h4>
          <!--<h4 class="card-title" style="color: #FF250D;">Login</h4>-->
          <ul> 
            <li><label>First Name<span class="required">*</span></label>
            <input type="text" class="form-control" name="fname" id="fname" value="<%=@custEmp_empty["CFirstName"]%>"></li>

            <li><label>Last Name<span class="required">*</span></label>
            <input type="text" class="form-control" name="lname" id="lname" value="<%=@custEmp_empty["CLastName"]%>"></li>

            <li><label>Address<span class="required">*</span></label>
            <input type="text" class="form-control" name="address" id="address" value="<%=@custEmp_empty["CustomerAddress"]%>"></li>

            <li><label>SSN/SIN<span class="required">*</span></label>
            <input type="int" class="form-control" name="ssnsin" id="ssnsin" value="<%=@custEmp_empty["SSNSIN"]%>"></li>

            <%= submit_tag "Confirm", class: "btn btn-success", :style => "margin-top: 2.5%; margin-right: 2.5%" %>
            <%= link_to "Cancel", filter_path, class: "btn btn-danger", :style => "margin-top: 2.5%; margin-right: 2.5%" %>
             
          </ul>
          <% end %>

          <% if current_user.user_type == 'employee' %>
          <h4 class="card-title" style="color: #FF250D;">Update <%= @custEmp_empty["EFirstName"]%>:</h4>
          <!--<h4 class="card-title" style="color: #FF250D;">Login</h4>-->
          <ul> 
            <li><label>First Name<span class="required">*</span></label>
            <input type="text" class="form-control" name="fname" id="fname" value="<%=@custEmp_empty["EFirstName"]%>"></li>

            <li><label>Last Name<span class="required">*</span></label>
            <input type="text" class="form-control" name="lname" id="lname" value="<%=@custEmp_empty["ELastName"]%>"></li>

            <li><label>Address<span class="required">*</span></label>
            <input type="text" class="form-control" name="address" id="address" value="<%=@custEmp_empty["EmployeeAddress"]%>"></li>

            <li><label>SSN/SIN<span class="required">*</span></label>
            <input type="int" class="form-control" name="ssnsin" id="ssnsin" value="<%=@custEmp_empty["SSNSIN"]%>"></li>

            <li><label>Roles<span class="required"> (Separate by commas)</span></label>
              <input type="text" class="form-control" name="roles">
            </li>

            <%= submit_tag "Confirm", class: "btn btn-success", :style => "margin-top: 2.5%; margin-right: 2.5%" %>
            <%= link_to "Cancel", filter_path, class: "btn btn-danger", :style => "margin-top: 2.5%; margin-right: 2.5%" %>
          </ul>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
